@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
* {
    box-sizing: border-box;
}

body {
    background-image: url("https://images.unsplash.com/photo-1568014841490-1662a60ee379?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=701&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-position: center center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    margin: 0;
   }

h1{
    font-size: 4rem;
    color:#D786F0;
    margin-top: -10rem;
    background: black;
    border-radius: 4%;
    padding: 0.5rem;
}
   .countdown-container{
    display: flex;
    background: black;
    border-radius: 4%;
     
}  

.big-text {
    font-size: 6rem;
    line-height: 1;
    margin: 0 2rem;
    color: #F2D06B;
}

span {
    color:#D786F0;
}

.countdown-el{
    text-align: center;
}

.countdown-el span{
    font-size: 1.5rem;
}



